@import "@styles/media-queries";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0;
  margin: 0;
  @include md {
    font-size: 2.188rem;
  }
}

.title1 {
  @extend .text;
  font-weight: normal;
}

.title2 {
  @extend .text;
}
