@import "@styles/media-queries";

.container {
  margin-top: 3.75rem;
  @include sm {
    margin-top: 4.188rem;
  }
  @include lg {
    margin-top: 6.25rem;
  }
}

.titleContainer {
  margin-bottom: 2.5rem;
  @include lg {
    margin-bottom: 3.75rem;
  }
}
