@import "../../../styles/variable";

.mainScreen {
  max-width: 1440px;
  padding: 35px 150px 0;

  @media (max-width: $mediaMaxWidth1100px) {
    padding: 35px 100px 0;
  }

  @media (max-width: $mediaBp1Width960px) {
    padding: 35px 20px 0;
  }
}
