@import "@styles/media-queries";

.container {
  display: none;
  justify-content: space-between;
  width: 100%;
  @include md {
    display: flex;
  }
}

.mobileContainer {
  display: block;

  .slide {
    height: auto;
  }
  @include md {
    display: none;
  }
}
