@import "@styles/media-queries";

.container {
  display: none;
  justify-content: space-between;
  width: 100%;
  @include md {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.75rem;
  }
}

.mobileContainer {
  display: block;

  .slide {
    height: auto;
  }
  @include md {
    display: none;
  }
}
