@import "styles/colors";
@import "@styles/media-queries";

.container {
  margin-top: 3rem;
  height: 100%;
}

.toolboxContainer {
  display: flex;
  margin-top: 0.625rem;
  justify-content: center;
  width: 100%;
  .toolboxImg {
    width: 3.938rem;
    height: auto;
    &:nth-child(odd) {
      margin: 0 2rem;
      @include md {
        margin: 0 1.25rem;
      }
    }
    @include md {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.text {
  margin-top: 1.25rem;
  margin-bottom: 0.813rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.055em;
  color: $primary-100;
  @include sm {
    font-size: 1.125rem;
    margin-top: 2.25rem;
  }
  @include md {
    font-size: 0.75rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }
}

.img {
  margin-bottom: 0.375rem;
  width: 100%;
  height: auto;
  max-width: 10.5625rem;
  max-height: 9.5625rem;
  @include md {
    width: unset;
  }
}
