.container {
  position: relative;
  .img {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .copyright {
    margin: 0;
    position: absolute;
    right: 8.125rem;
    bottom: 1.875rem;
  }
}
