@import "styles/colors";
@import "@styles/media-queries";

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  border-radius: 0.813rem;
  box-shadow: 0px 0px 15px rgba($black, 0.17);
  overflow: hidden;
  padding: 1.375rem;
  background: $white;
  row-gap: 1rem;
  height: 100%;
  box-sizing: border-box;
  @include md {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 2rem 3.125rem;
    gap: 2.5rem;
  }
}

.project {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  @include md {
    grid-column-start: 2;
    grid-row-start: 1;
  }
}

.job {
  grid-column-start: 2;
  grid-row-start: 1;
  @include md {
    grid-column-start: 3;
    grid-row-start: 1;
    transform: translateX(1.5rem);
  }
}

.company {
  grid-column-start: 1;
}
