@import "@styles/colors";
@import "@styles/media-queries";

.text {
  font-size: 1.125rem;
  margin: 0;
  @include sm {
    font-size: 1.25rem;
  }
  @include lg {
    font-size: 1.5rem;
  }
}

.logo {
  display: flex;
  .firstText {
    @extend .text;
    font-weight: 700;
  }
  .secondText {
    @extend .text;
    font-weight: normal;
  }
}

.navbarContainer {
  display: none;

  .title {
    margin-right: 2.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: normal;
    cursor: pointer;
    &:hover {
      color: $primary-400;
    }
    @include md {
      font-size: 1.25rem;
      margin-right: 0.875rem;
    }
    @include lg {
      font-size: 1.5rem;
      margin-right: 1.25rem;
    }
    @include xl {
      margin-right: 2.875rem;
    }
  }

  .btn {
    padding: 0.5rem 1rem;
    color: $white;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
    background: $primary-100;
    border: none;
    &:hover {
      background: $primary-400;
    }
    @include lg {
      padding: 0.625rem 1.125rem;
      font-size: 1.5rem;
    }
  }

  @include md {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }
}
