@import "@styles/media-queries";

.container {
  display: flex;
  margin-top: 1.75rem;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  @include md {
    flex-direction: row;
    margin-top: 5rem;
  }
  @include lg {
    margin-top: 6.25rem;
  }
  @include xl {
    margin-top: 3.75rem;
  }
}

.wrapper {
  max-width: 36rem;
  margin-top: 1.5rem;
}

.textName {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
  @include sm {
    font-size: 1.875rem;
  }
  @include md {
    font-size: 3.125rem;
    margin-bottom: 1;
  }
}

.textDescription {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 600;
  margin: 0 0 0.5rem 0;
  @include sm {
    font-size: 1.875rem;
  }
  @include lg {
    font-size: 2.25rem;
    line-height: 3rem;
  }
}

.textAbout {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.015em;
  font-weight: normal;
  @include sm {
    font-size: 0.875rem;
    margin-top: 1.25rem;
    line-height: 1.25rem;
  }
  @include lg {
    font-size: 1.5rem;
    line-height: 2.125rem;
  }
}

.imgContainer {
  position: relative;
  width: 100%;
  max-width: 32rem;
  height: auto;
  .img {
    width: 100%;
    height: auto;
    max-width: 31.5rem;
    max-height: 29.5rem;
  }
}
