.container {
  margin-bottom: 1.75rem;
  margin-top: 3.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.25rem;
  text-align: center;
}

.slide {
  height: auto;
}
