@import "@styles/media-queries";

.container {
  display: flex;
  flex-direction: column;
}
.iconDrawer {
  display: block;
  @include md {
    display: none;
  }
}

.text {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
  margin: 0.375rem 0;
  text-align: center;
  cursor: pointer;
}
