$grey: #f9f8f8;
$grey-700: #3f3d56;
$primary-100: #3b90fa;
$primary-200: rgba(94, 194, 252, 0.41);
$primary-300: #4976a1;
$primary-400: #147cfe;
$primary-600: #14279b;
$black: #000000;
$white: #ffffff;
