@tailwind base;



@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  line-height: 38px;
  background-image: url('https://res.cloudinary.com/alexmangir/image/upload/v1666822303/Background_ecpm5v.svg');
  background-repeat: no-repeat;
  background-color: #F9F8F8;  
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

