@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  line-height: 38px;
  background-image: url('https://res.cloudinary.com/alexmangir/image/upload/v1666822303/Background_ecpm5v.svg');
  background-repeat: no-repeat;
  background-color: #F9F8F8;  
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-pagination-bullet {
  margin: 0 !important;
  height: 20px !important;
  width: 20px !important;
  background: rgba(59, 144, 250, 0.5) !important;
}

.swiper-pagination-bullet-sm {
  margin: 0 !important;
  height: 10px !important;
  width: 10px !important;
  background: rgba(59, 144, 250, 0.5) !important;
  border-radius: 50%;
}

.swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 40px !important;
}
.swiper-pagination-bullet-sm + .swiper-pagination-bullet-sm {
  margin-left: 1.25rem !important;
}


.swiper-pagination-bullet-sm.swiper-pagination-bullet-active, .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #147CFE !important;
}

.swiper-button-next {
  background-image: url('https://res.cloudinary.com/alexmangir/image/upload/v1670715027/arrow_gneoua.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  transform: translateX(10px);
}

.swiper-button-prev {
  background-image: url('https://res.cloudinary.com/alexmangir/image/upload/v1670715027/arrow_gneoua.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  transform: rotate(180deg) translateX(10px);
}

.swiper-button-next, .swiper-button-prev {
  top: 44% !important;
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}

.card {
  gap: 0 28px;
}

.contactText {
  font-size: 14px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .contactText {
    font-size: 24px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 980px) {
  .card {
    gap: 0 36px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    gap: 0 36px;
  }
  .contactText {
    font-size: 36px;
    margin-top: 30px;
  }
}