@import "@styles/colors";

html,
body {
  padding: 0;
  margin: 0;
  background-image: url("../public/assets/background.svg");
  background-repeat: no-repeat;
  background-color: $grey;
  color: $primary-600;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper-pagination-bullets:has(.swiper-pagination-bullet-sm) {
  display: flex;
  margin-top: 1.125rem;
  justify-content: center;
}

.swiper-pagination-bullet-sm {
  background: rgba(59, 144, 250, 0.5);
  width: 0.688rem;
  height: 0.688rem;
  border-radius: 50%;
  &:nth-child(odd) {
    margin: 0 1.25rem;
  }
}

.swiper-pagination-bullet-active {
  background: $primary-200;
}
