.container {
  margin-top: 3.5rem;
  margin-bottom: 1.125rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.25rem;
}

.titleContainer {
  margin-bottom: 2.125rem;
}
