@import "@styles/media-queries";

.container {
  display: grid;
  row-gap: 0.625rem;
  @include md {
    row-gap: 1rem;
  }
}

.title {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  margin: 0;
  @include md {
    font-size: 1.5rem;
  }
}

.img {
  width: 100%;
  height: auto;
}
